.imagenJabon {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;

    img {
        width: 80%;
        height: 80%;
        border-radius: 50%;
        border: 0.5vh outset map-get($paleta, ("colorPrincipal"));
        padding: 1rem;
    }
}

.textoJabon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    p {
        font-weight: bold;
    } 

    h3 {
        padding-top: 1.5rem;
        font-size: 5vh;
        font-family: 'Playfair Display', serif;
        color: map-get($paleta, ("colorPrincipal"));
    }
}

#parrafoJabonOferta {
    padding: 2rem 0rem 2rem 0rem;
    font-weight: normal;
    text-align: justify;
}

.verOferta {
    background-color:map-get($paleta, ("colorPrincipal"));
    width: 4rem;
    padding: 1rem;
    margin-top: 2rem;
    width: 9rem;
    border-radius: 2rem;
    border: map-get($paleta, ("colorPrincipal"));
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    a {
        text-decoration: none;
        color: white;
    }

    &:hover{
        background-image: linear-gradient(rgb(13, 132, 156), rgb(96, 198, 216));
    }
}

.visitarRedes {
    text-align: center;
    padding: 3rem;

    a {
        padding: 1rem;
        font-size: 1rem;
        text-decoration: none;
        color:map-get($paleta, ("colorPrincipal"));
        font-weight: bold;
    }
}

.tituloProductosDestacados {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 1rem;
    background-color: white;
    text-align: center;
    font-size: 1rem;
}

.catalogoProductos {
    
    div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2rem 1rem 2rem 1rem;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;

    figure {
        background-color: white;
        border-radius: 1rem;
        margin: 0rem 1rem 4rem 1rem;
        padding-bottom: 1rem;
        img {
            height: 15rem;
            border-radius: 1.5rem;
            padding: 1rem;
        }

        p {
            padding: 1rem;
            text-align: center;
        }
        @include borde;
    }
    .sinStock{
        @include borde($opacidad:0.3);
    }
}

    figcaption {
        display: flex;
        flex-wrap: wrap;
        padding-top: 1rem;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
        font-weight: bolder;
    }
}
