footer {
    background-color: map-get($paleta, ("colorPrincipal"));
    justify-content: center;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: white;
    padding: 3rem;
    bottom: 0;
}

div li {
    list-style-type: none;
}

.footerTitulo {
    padding-top: 2rem;
    font-weight: bolder;
}

.iconosFooter {
    padding: 1rem;
    display: flex;
    justify-content: center;

    img {
        width: 3rem;
        height: 3rem;
    }    
}

.numeroMail{
padding-right: 1.5rem;
}